html,body {
    margin: 0;
    padding: 0;
    overflow:hidden;
    /*visibility: hidden;*/
}
.section{
	padding-top: 0;
}
.section,
.slide,
.fp-tableCell{
    height: 100vh;
    padding-top: 0;
    padding-bottom: 0;
}

.fp-tableCell{
	display: block!important;
}