html,body {
    margin: 0;
    padding: 0;
    overflow:hidden;
    /*visibility: hidden;*/
}
.vertical-section{
	padding-top: 0;
}
.vertical-section {
    height: 100vh;
    padding-top: 0;
    padding-bottom: 0;
}

.fp-tableCell{
	display: block!important;
	padding-top: 0;
	padding-bottom: 0;
	/*height: 100%!important;*/
}

.horizontal-section {
	height: 100%;
    padding-top: 0;
    padding-bottom: 0;
    width: 100vw;
}

.fp-slides {
	overflow-x: hidden;
	/*overflow-y: scroll;*/
	height: 100%;
}

.fp-slide {
	height: 100%;
}