
.concerts-container {
	margin-top: 60px;
	margin-left: 140px;
	margin-right: 140px;
}

.concert-container {
	position: relative;
	display: flex;
	margin-top: 30px;
	margin-bottom: 30px;
}

.concert-date-container {
	width: 70px;
}


.concert-date {
	background-color: #99aabb;
	top: 40%;
	width: 60px;
	height: 60px;
	text-align: center;
}

p.month {
	font-family: Garamond;
	font-size: 22px;
	font-variant: all-small-caps;
	line-height: 0px;
	padding-top: 25%;
}

p.day {
	font-family: Garamond;
	font-size: 27px;
	line-height: 0px;
}

.concert-description-container {
	flex-grow:1;
	margin-left: 30px;
}

.concert-description-container p {
	line-height:120%;
}

.concert-title {
	border-bottom: 2px solid #a3a3a3;
	font-variant: all-small-caps;
	font-family: "Museo Sans 700", Verdana, sans;
	font-size: 30px;
	letter-spacing: 3px;
}