body {
	background-color: #fefefe;

}


main {
	position: relative;
	width: 100vw;
	height: 100vh;
	z-index: 2;
}

.scroll-overlay {
	position: relative;
	overflow-y: scroll;
	padding: 0vmin 15vw 0vmin 15vw;
	width: 100vw;
	/*height accounts for scroll overlay cutting off at bottom of header*/
	height: calc(100vh - 50px);
	top: 50px;
}

.horizontal-overlay {
	/*margin-left: 20vw;*/
	margin-top: 5vh;
	width: 70vw;
	background-color: rgb(240, 248, 255, 0.85);
	height: auto;
	margin-top: 50px;
	margin-bottom: 200px;
	overflow-x: hidden;
	/*padding-top: 5vmin;*/
	border-radius: 2vw;
	padding-bottom: 50px;
}

/* for a gradient floor */
.background-overlay {
	background: linear-gradient(to top, rgba(30,0,255,0), rgba(30,0,255,.2));
	overflow: hidden;
	opacity: 1.0;
	z-index: 900;
	width: 100vw;
	height: 100vh;
	position: absolute;
	pointer-events: none;
	/*will-change: transform;*/
}
/*
.background-overlay::before {
	content: ' ';
	background: linear-gradient(to top, rgba(30,0,255,0), rgba(30,0,255,.2));
	background-attachment: fixed;
	will-change: transform;
	position: fixed;
	width: 100%;
	top: 100vh;
	opacity: 0.5;
}
*/

#main-content {
	background: url('http://hearclassical.github.io/HEARclassical/assets/images/8faces-background.jpg');
	background-attachment: fixed;
	 /* account for 1st slide height and extra 50% to center */
	/*background-position: center calc(100vh + 50%) !important;*/
	background-position: center 30%;
	background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
}


/*************************
Form Container
**************************/

#form-overlay {
	z-index: 1200;
	background: rgba(0,0,0,0.4);
	display: none;
	position: absolute;
	width: 100vw;
	height: 100vh;
}

#form-container {
	width: 80%;
	height: 80%;
	left: 10%;
	top: 10%;
	position: relative;
	background-color: rgba(240, 248, 255, 0.95);
	border-radius: 3vmin;
}


#form-close-button {
	position: absolute;
	right: 11%;
	top: 11%;
	z-index: 1;
	opacity: 0.5;
	height: 3vmin;
	width: 3vmin;
	transition: opacity 0.2s linear;
	cursor: pointer;

}

#form-close-button:hover {
  opacity: 1;
}
#form-close-button::before, #form-close-button::after {
  position: absolute;
  content: ' ';
  height: 3vmin;
  left: 1.5vmin;
  width: .1vmin;
  min-width: .5px;
  background-color: #333;
}
#form-close-button::before {
  transform: rotate(45deg);
}
#form-close-button::after {
  transform: rotate(-45deg);
}


#form-iframe {
	width: 100%;
	height: 100%;
	border: none;
}

