/* The site header is present on all pages*/

.site-header {
	opacity: 0.0;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    flex-wrap: nowrap;
    /*background: white;*/
    padding-right: 30px;
    visibility: hidden;
}
/*@media (max-width: 650px){.site-header{padding:0.5rem}}*/



.logo {
	margin-right: 30px;
	display: inherit;
}

.header-buttons{
	-webkit-flex:3;
	-ms-flex:3;
	flex:1;
	display: flex;
	width: 100px;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-align-items: center;
    -ms-flex-align: center;
    flex-wrap: nowrap;
}

.header-buttons > div {
	margin: 0vw 2vw 0vw 0vw;
	flex: 1;
}

.header-button{
	text-align:center
}

.header-wrapper {
	padding: 15px;
	margin-left: 2vw;
	position: fixed;
	top: 0px;
	z-index: 1000;
	width: 100vw;
	height: 60px;
}




p.header-button {
	font-family: Tahoma, sans;
	font-size: 15px;
	font-weight: normal;
	color: gray;
	font-variant: all-small-caps;
}
.header-button:hover{
	text-decoration: underline;
}