
.concert-container {
	position: relative;
	display: flex;
	margin-top: 20px;
	margin-bottom: 30px;
	margin-right: 10vw;
	padding-left: 30px;

}

.concert-date-container {
	width: 70px;
}

.concert-date {
	background-color: #8488c787;
	top: 40%;
	width: 70px;
	height: 70px;
	text-align: center;
	cursor: default;
	user-select: none;
	border-radius: .25em;
}

p.month {
	font-family: Garamond;
	font-size: 23px;
	font-variant: all-small-caps;
	line-height: 0px;
	padding-top: 25%;
	
}

p.day {
	font-family: Garamond;
	font-size: 28px;
	line-height: 0px;
}

.concert-description-container {
	flex-grow:1;
	padding: 10px;
	margin-left: 5vw;
}

.concert-description-container p {
	line-height:110%;
	font-size: 18px;
}

.concert-title {
	border-bottom: 2px solid #a3a3a3;
	font-variant: all-small-caps;
	font-family: "Museo Sans 700", Verdana, sans;
	font-size: 40px;
	letter-spacing: 3px;
}