.contact-us-container {
	position: relative;
	height: 100%;
	overflow: hidden;
	margin-bottom: 100px;
	/*margin-left: 2vw;
	padding-left: 30px;
	height: calc(100vh - 100px);
	display: flex;*/
}


.contact-us-container > p {
	font-size: 16px;
	
}

.contact-us-container > h1 {
	color: rgb(100, 30, 200);
}


.contact-us-container .email-address {
	text-size: 15px;
	font-family: monospace;
	margin-left: 30px;
}

.contact-us-container .email-address::after {
  content: attr(data-name) "@" attr(data-domain) "." attr(data-tld); 
}

.contact-us-container .staff {
	text-size: 14px;
	font-variant: small-caps;
	margin-top: 5vh;
}


.contact-us-container .form-links {
	margin-top: 25px;
	width: 80%;
	margin-left: 10%;
}

.contact-us-container .staff-info {
	margin-top: 25px;
	margin-left: 10%;
	width: 80%;
	/*line-height: 30%;*/
}



a.email-address:link{
  color:blue;
}
a.email-address:visited{
  color:blue;
}
a.email-address:hover{
  color:orange;
}
a.email-address:focus{
  color:orange;
}
a.email-address:active{
  color:darkorange;
}