
/*************
Form elements
**************/



label {
	text-align: center;
	display: block;
	font-size: 4vmin;
	margin-bottom: 2vmin;
}

input {
	width: inherit;
	border: .5px solid rgba(0,0,0,0.3);
	border-radius: 3px;
	left: 0;
	right: 0;
	margin: 0 auto;
	display: block;
	text-align: center;
}

input:focus, textarea:focus {
	color: white;
	background: linear-gradient(to bottom right, darkblue, lightblue);

	/*background: gradient(linear, left top, left 25, from(#FFFFFF), 
           color-stop(4%,#c6d1da), to(#5E768D));*/
}

input:focus::placeholder, textarea:focus::placeholder {
	color: lightgray;
}

textarea {
	border: .5px solid rgba(0,0,0,0.3);
	border-radius: 3px;
	left: 0;
	right: 0;
	margin: 0 auto;
	display: block;
	resize: none;
}


fieldset {
	border: none;
	display: block;
}

h1 {
	text-align: center;
	font-size: 8vmin!important;
	margin-top: 4%;
}

#thankyou_message {
	top: 25%;
	position: relative;

}

#thankyou_message h2 {
	text-align: center;
	font-size: 7vw!important;
	margin-right: 10%;
	margin-left: 10%;
	line-height: 110%!important;
}



#thankyou_message h3 {
	text-align: center;
	font-size:4vw!important;
	margin-right: 10%;
	margin-left: 10%;
	line-height: 110%!important;
}

button.form-submit-button {
	background: darkblue;
	color: white;
	font-size: 14px;
	border-radius: 3px;
	padding: 5px 15px 5px 15px;
}

fieldset {
	background: radial-gradient(rgba(147, 200, 255, 1.0) 20%, rgba(240, 248, 255, 0.0) 70%);
	border-radius: 10vmin;
	padding: 20px;
	height: 15vmin;
}


.comment-form {
	text-align: center;
}

.comment-form .form-title {
	margin-top: 30px;
}

#form-email, #form-name {
	display: inline-block;
	position: relative;
	margin: 5vmin 5vmin 5vmin 5vmin;
}

#form-comment {
	margin-left: 20vw;
	margin-right: 20vw;
	margin-top: 5vmin;
	margin-bottom: 5vmin;
}

.composer-form fieldset {
	margin-left: 20vw;
	margin-right: 20vw;
}

.form-button-wrap {
	display: block;
	top: 5vmin;
	position: relative;
	margin: 0 auto;
	left: 0;
	right: 0;
	margin-bottom: 5vmin;
	text-align: center;
}