

/*************
Form elements
**************/



label {
	text-align: center;
	display: block;
	font-size: 4vmin;
	margin-bottom: 2vmin;
}

input {
	width: 35vmin;
	height: 10vmin;
	border: none;
	border-radius: 3px;
	left: 0;
	right: 0;
	margin: 0 auto;
	display: block;
	text-align: center;
	background: radial-gradient(rgba(255,255,255,1) 50%, rgba(255,255,255,0) 70%);
	padding-left: 5vmin!important;
	padding-right: 5vmin!important;
	font-family: Verdana;
	font-size: 14px;
}

textarea {
	width: 35vmin;
	height: 30vmin;
	border: none;
	border-radius: 3px;
	left: 0;
	right: 0;
	margin: 0 auto;
	display: block;
	text-align: center;
	background: radial-gradient(rgba(255,255,255,1) 50%, rgba(255,255,255,0) 70%);
	resize: none;
	vertical-align: middle;
	padding: 8vmin!important;
	font-family: Verdana;
	font-size: 14px;
}

input:focus, textarea:focus {
	color: white;
	padding: 0;
	background: radial-gradient(darkblue 30%, rgba(255,255,255,0) 70%);
	background-color: none;
	border: none;
	outline: none;
	outline-style:none;
	box-shadow:none;
	border-color:transparent;
	/*background: gradient(linear, left top, left 25, from(#FFFFFF), 
           color-stop(4%,#c6d1da), to(#5E768D));*/
}

input:focus::placeholder, textarea:focus::placeholder {
	color: lightgray;
}



fieldset {
	border: none;
	display: block;
}

h1 {
	text-align: center;
	font-size: 8vmin!important;
	margin-top: 4%;
}

#thankyou_message {
	top: 25%;
	position: relative;

}

#thankyou_message h2 {
	text-align: center;
	font-size: 7vw!important;
	margin-right: 10%;
	margin-left: 10%;
	line-height: 110%!important;
}



#thankyou_message h3 {
	text-align: center;
	font-size:4vw!important;
	margin-right: 10%;
	margin-left: 10%;
	line-height: 110%!important;
}

button.form-submit-button {
	background: darkblue;
	color: white;
	font-size: 14px;
	border-radius: 3px;
	padding: 5px 15px 5px 15px;
	border-style: none;
}

button.form-submit-button:focus {
	outline: solid lightblue 1px
}
button.form-submit-button:active {
	opacity: .8;
	outline: solid white 3px;
}

fieldset {
	background: radial-gradient(rgba(147, 200, 255, 1.0) 20%, rgba(240, 248, 255, 0.0) 70%);
	border-radius: 10vmin;
	padding: 20px;
	height: 15vmin;
}


.comment-form {
	text-align: center;
}

.comment-form .form-title {
	margin-top: 30px;
}
#form-description {
	height: 40vmin;
}

#form-email, #form-name {
	display: inline-block;
	position: relative;
	width: 40vmin;
	margin: 5vmin 5vmin 5vmin 5vmin;
}

#form-comment {
	margin-left: 20vw;
	margin-right: 20vw;
	margin-top: 5vmin;
	margin-bottom: 5vmin;
	height: 40vmin;
}

.composer-form fieldset {
	margin-left: 20vw;
	margin-right: 20vw;
}

.form-button-wrap {
	display: block;
	top: 5vmin;
	position: relative;
	margin: 0 auto;
	left: 0;
	right: 0;
	margin-bottom: 100px;
	text-align: center;
}